# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/
.build/
.dist/

# Virtual envs
.venv/
venv/
.env

# Tools caches
.pytest_cache/
.ruff_cache/
.mypy_cache/
.coverage
htmlcov/

# OS / IDE
.DS_Store
.idea/
.vscode/

# terraform local cache and provider binaries
infra/terraform/environments/ec2/.terraform/
infra/terraform/environments/ec2/.terraform/providers/registry.terraform.io/hashicorp/aws/5.100.0/linux_amd64/terraform-provider-aws_v5.100.0_x5

